.topbar{
    height: 80px;
    width: 100vw;
    box-shadow: 0px 1px 2px 0px rgba(158, 158, 158, 0.4);
    /* background-color: aqua; */
}
.heading{
    margin-left: 4.5rem;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

#nav-home-tab{
    margin-top: 1rem;
}

#nav-home-tab::after img{
    background-image: url('../assets/images/after.png')
}


.notification{
    /* margin-right: 0 */
    float: right;
    margin: 20px;
}

.jai{
    padding-left: 20px;
    box-shadow: 0px 1px 2px 0px rgba(37, 37, 37, 0.4);
}

/* .nav-item::selection */

.first{
    margin-left: 6rem;
    border: none;
    text-align: left;
    background-color: #D6DFE0;
    
}
.logo{
    padding: 20px;
    margin-left: 50px;
}

.second{
    border: none;
}



.container{
    width: 100vw;
    margin-top: 80px;
}

#sublogo{
    height: 80px; 
    
}

.pleat{
    text-align: left;
    padding: 12px;

}

#in{
    color: #A9A9A9;
}

body{
    height: 100%;
    width: 100vw;
    /* overflow-x: hidden; */
    background-color: #FCFCFC;
}

.card-group{
    background-color: #FCFCFC;
}

.card{
    background-color: #FCFCFC;
    /* border-block-color: #F5F5F5; */
}

p{
    color: #A9A9A9;
}

/* hover */


  
  .card:hover{
    box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    
  }

  .card h6{
    transition: all .25s linear;
  }

  .card:hover h6{
    color: #2B8998;
    
  }
  

  .card{
    transition: all .25s linear;
    /* box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4); */
  }

.navleft{
    margin-top: 5rem;
    box-shadow: 0px 1px 2px 0px rgba(37, 37, 37, 0.4);
}

.imgs{
    height: 30px; 
}

.jip{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    text-align: center;
}

.newji{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 4rem;
    text-align: center;
    
}

.newji a{
    color: #A9A9A9;
}

.last{
    text-align: center;
    color: #A9A9A9;
}