<body>
 

  
  <div class="row"> 
      <div class="col-1 jai">
          <nav>
              <div class="nav nav-tabs flex-column" id="nav-tab" role="tablist" style="margin-top: 5rem;" aria-orientation="vertical">
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="falsa"><img src="assets/images/before.png" style="height: 20px;" alt=""></a><br>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><img src="assets/images/search1.png" style="height: 20px;" alt=""></a><br>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><img src="assets/images/house1.png" style="height: 20px;" alt=""></a><br>
              </div>
            </nav>
        
      </div>
      <div class="col-11">
          <div class="topbar">
              <img class = "logo" src="assets/images/panda.png" alt=""/>
          
              <!-- <div class="rightpart"> -->
                  <a class="notification" href="google.com"><img src="assets/images/use.png" style="height: 20px;" alt=""></a>
                <a class="notification" href="google.com"><img src="assets/images/not.png" style="height: 20px;" alt=""></a>
                
              <!-- </div> -->
            </div>


            <h1 class="heading">Content Store</h1>
  
            <div class="card first" style="width: 56rem; background-color: #F5F9F9;">
                <div class="card-body">
                  <h5 class="card-title" style="color: #2B8998;">Got bulk orders or almost similar orders? Fill the order in an excel sheet</h5>
                  <p class="card-text">If you're wondering about an easy way to place orders in large numbers,we provie a way customizable just for that.Download our excelsheet, and fill the order breif in the prescribed format and submit. In case you need any help,<span><a id="in" href="#">we are just a click away to assist you in placing your order</a></span></p>
                  <button type="button" class="btn btn-outline-info pl-5 pr-5">Order via Excel Sheet</button>
                </div>
            </div>
          
            <div class="container">
              <div class="row ji">
                
                    
                        <!-- <div class="card-group"> -->
                        <form *ngFor="let item of tabs; let i = index">
                            
                            <div class="card second" style="width: 22rem;height: 20rem; margin: 10px;  padding: 30px;">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-4 pleat1">
                                        <img id = "sublogo" src="assets/images/icon.png" alt="">
                                    </div>
                                    <div class="col-sm-8 pleat">
                                        <h6 class="card-title">{{item}}</h6>
                                        <p class="card-subtitle mb-2 text-muted">{{subtabs[i]}}</p>
                                    </div>
                                
                                  </div>
                                  
                                  <p class="card-text">Typically 450-400 words,ane-book is perfect for your target audience ranging from prospecive customers to users</p>
                                  <button type="button" class="btn btn-outline-info pl-5 pr-5">Order</button>
                                </div>
                              </div>
                            
                        </form>
                      <!-- </div> -->
                      
                </div>
                 
              
             
            </div>

            <div class="row jip text-center">
              <div class="col-sm-4"></div>
              <div class="col-sm-1">
                <a href="https://twitter.com/home"><img class="imgs" src="assets/images/twitter.png" alt=""></a>
              </div>
              <div class="col-sm-1">
                <a href="https://www.linkedin.com/"><img class="imgs" src="assets/images/ln.png" alt=""></a>
              </div>
              <div class="col-sm-1">
                <a href="https://www.instagram.com/"><img class="imgs" src="assets/images/instagram.png" alt=""></a>
              </div>
              <div class="col-sm-1">
                <a href="https://www.instagram.com/"><img class="imgs" src="assets/images/facebook.png" alt=""></a>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <p class="last">Copyright @ 2019 White Panda Media Pvt. Ltd.</p>
            <p class="last">All Rights Reserved.</p>

            <div class="row newji">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <a href="https://twitter.com/home">Privacy Policy</a>
                </div>
                <div class="col-sm-2">
                  <a href="https://www.linkedin.com/">Terms of Service</a>
                </div>
                <div class="col-sm-2">
                  <a href="https://www.instagram.com/">Service Aggrement</a>
                </div>
                <div class="col-sm-2">
                  <a href="https://www.instagram.com/">Contact Us</a>
                </div>
                <div class="col-sm-2"></div>
              </div>
      </div>
    </div>

  
   
 
</body>