<body>
 

  
  <div class="row">
      <div class="col-1">
        <div class="nav flex-column nav-pills navleft" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
      </div>
      <div class="col-11">
          <div class="topbar">
              <img class = "logo" src="../assets/images/panda.png" alt=""/>
          
              <div class="rightpart">
                
              </div>
            </div>


            <h1 class="heading">Content Store</h1>
  
            <div class="card first" style="width: 56rem; background-color: #F5F9F9;">
                <div class="card-body">
                  <h5 class="card-title" style="color: #2B8998;">Got bulk orders or almost similar orders? Fill the order in an excel sheet</h5>
                  <p class="card-text">If you're wondering about an easy way to place orders in large numbers,we provie a way customizable just for that.Download our excelsheet, and fill the order breif in the prescribed format and submit. In case you need any help,we are just a click away to assist you in placing your order</p>
                  <button type="button" class="btn btn-outline-info pl-5 pr-5">Order via Excel Sheet</button>
                </div>
            </div>
          
            <div class="container">
              <div class="row ji">
                
                    
                        <!-- <div class="card-group"> -->
                        <form *ngFor="let item of tabs; let i = index">
                            
                            <div class="card second" style="width: 22rem;height: 20rem; margin: 10px;  padding: 30px;">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-sm-4 pleat1">
                                        <img id = "sublogo" src="../assets/images/icon.png" alt="">
                                    </div>
                                    <div class="col-sm-8 pleat">
                                        <h6 class="card-title">{{item}}</h6>
                                        <p class="card-subtitle mb-2 text-muted">{{subtabs[i]}}</p>
                                    </div>
                                
                                  </div>
                                  
                                  <p class="card-text">Typically 450-400 words,ane-book is perfect for your target audience ranging from prospecive customers to users</p>
                                  <button type="button" class="btn btn-outline-info pl-5 pr-5">Order</button>
                                </div>
                              </div>
                            
                        </form>
                      <!-- </div> -->
                      
                </div>
                 
              
             
            </div>

            <div class="row jip text-center">
              <div class="col-sm-4"></div>
              <div class="col-sm-1">
                <a href="https://twitter.com/home"><img class="imgs" src="../assets/images/twitter.png" alt=""></a>
              </div>
              <div class="col-sm-1">
                <a href="https://www.linkedin.com/"><img class="imgs" src="../assets/images/ln.png" alt=""></a>
              </div>
              <div class="col-sm-1">
                <a href="https://www.instagram.com/"><img class="imgs" src="../assets/images/instagram.png" alt=""></a>
              </div>
              <div class="col-sm-1">
                <a href="https://www.instagram.com/"><img class="imgs" src="../assets/images/facebook.png" alt=""></a>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <p class="last">Copyright @ 2019 White Panda Media Pvt. Ltd.</p>
            <p class="last">All Rights Reserved.</p>

            <div class="row newji">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <a href="https://twitter.com/home">Privacy Policy</a>
                </div>
                <div class="col-sm-2">
                  <a href="https://www.linkedin.com/">Terms of Service</a>
                </div>
                <div class="col-sm-2">
                  <a href="https://www.instagram.com/">Service Aggrement</a>
                </div>
                <div class="col-sm-2">
                  <a href="https://www.instagram.com/">Contact Us</a>
                </div>
                <div class="col-sm-2"></div>
              </div>
      </div>
    </div>

  
   
 
</body>